<h1>Restaurants</h1>
    <% @restaurants.each do |restaurant| %>
        <%= image_tag("https://source.unsplash.com/random") %>
          <h4 class="card-title"> <%= link_to restaurant.name, restaurant_path(restaurant) %> </h4>
      <% end %>

    <br>
    
<%= link_to "Add new restaurant", new_restaurant_path(@restaurant), class: "btn btn-primary" %>